<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <joint name="lidar_joint" type="fixed">
    <parent link="chassis" />
    <child link="lidar" />
    <origin xyz="0 0 0.125" rpy="0 0 0" />
  </joint>

  <link name="lidar">
    <visual>
      <geometry>
        <cylinder radius="0.05" length="0.05" />
      </geometry>
    </visual>

    <collision>
      <geometry>
        <cylinder radius="0.05" length="0.05" />
      </geometry>
    </collision>

    <!-- Placeholder inertia values -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia
        ixx="0.001"
        ixy="0.001"
        ixz="0.001"
        iyy="0.001"
        iyz="0.001"
        izz="0.001" />
    </inertial>
  </link>

  <gazebo reference="lidar">

    <material>Gazebo/Blue</material>

    <sensor name="laser" type="ray">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>10</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <min_angle>-3.14</min_angle>
            <max_angle>3.14</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.25</min>
          <max>12</max>
        </range>
      </ray>
      <plugin name="lidar_controller" filename="libgazebo_ros_ray_sensor.so">
        <ros>
          <remapping>~/out:=scan</remapping>
        </ros>
        <output_type>sensor_msgs/LaserScan</output_type>
        <frame_name>lidar</frame_name>
      </plugin>
    </sensor>

  </gazebo>

</robot>